
body{background-color: blanchedalmond;}
h1{color: maroon;}
h1{font-family: Arial, Helvetica, sans-serif;}
h1{font-size: 20px;}
h1{border: 4px ;}
h1{padding: 2px; ;}
h1{margin: 3px ;}

h2{color:maroon}
h3{color: maroon}
p{color: rgb(21, 10, 14)}
table{color: palevioletred;}

            
   
